<!DOCTYPE html>
<html>
<head>
	<title>Select Category to Export</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/export/selectcategory.css">
</head>

<body>
	{% if user %}
		<h5 class="userinfo">Not {{ user }}? <a href="{{ url }}">Sign out</a></h5><br>
	{% else %}
		<h5 class="userinfo"><a href="{{ url }}">Sign in</a> New to rank?<a href="{{ url }}">Sign up</a></h5><br>
	{% endif %}

	{% if invalid_select %}
		<h4 class="warning"><i>Warning: You must select a category first!</i></h4>
	{% endif %}
	<h4 class="title"><b>Select a category:</b></h4>
		<form method="get" action="/export/selectcategoryaction" target="_self">
			{% for category in categories %}
				<div>
					<input type="radio" name="category_key" value="{{ category.author }}/{{ category.name }}"> {{ category.name }} -- post by {{ category.author.nickname() }}
				</div><br>
			{% endfor %}
			<div>
				<input type="submit" name="select" value="Select a Category">
			</div>
		</form><br><hr>

	<ul>
		<li>Back to <a href="/">Home Page</a></li>
	</ul>
</body>
</html>

