<!DOCTYPE html>
<html>
<head>
	<title>Add Category</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/category/add.css">
</head>

<body>
	<h5 class="userinfo">Not {{ user }}? <a href="{{ url }}">Sign out</a></h5><br>
	{% if categories %}
	<h4 class="info"><b>Categories you already have:</b></h4>
	<ul>
		{% for category in categories %}
			<li>{{ category.name }}</li>
		{% endfor %}
	</ul><br>
	{% endif %}
	<h4 class="title"><b>Input category name:</b></h4>
	<form method="post" action="/category/addaction" target="_self">
		<div><input type="text" name="category_name"></div>
        {% if invalid_name %}
			<div class="invalid"><i>'{{ invalid_name }}' is invalid!</i></div>
		{% endif %}
		<br>
		<div><input type="submit" name="add" value="Add Category"></div>
	</form><br><hr>
	<ul>
		<li>Back to <a href="/">Home Page</a></li>
	</ul>
</body>
</html>
