<!DOCTYPE html>
<html>
<head>
	<title>Edit Category</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/category/edit.css">
</head>

<body>
	<h5 class="userinfo">Not {{ user }}? <a href="{{ url }}">Sign out</a></h5><br>
	{% if invalid_select %}
		<h4 class="warning"><i>Warning: You must select a category first!</i></h4>
	{% endif %}
	<h4 class="title"><b>Select a category:</b></h4>
	<form method="get" action="/category/editaction"  target="_self">
		{% for category in categories %}
			<div>
				<input type="radio" name="category_name" value="{{ category.name }}"> {{ category.name }}
			</div><br>
		{% endfor %}
		<div><input type="submit" name="edit" value="Edit Category"></div>
	</form><br><hr>
	<ul>
		<li>Back to <a href="/">Home Page</a></li>
	</ul>
</body>
</html>
