<!DOCTYPE html>
<html>
<head>
	<title>Delete Item in Category {{ category_name }}</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/item/delete.css">
</head>

<body>
	<h5 class="userinfo">Not {{ user }}? <a href="{{ url }}">Sign out</a></h5><br><br>
	<h4 class="warning"><i>Note: Once you delete item(s), all comments belonging to would be deleted at the same time!</i></h4>
	{% if delete_names %}
		<h4 class="info"><b>You have deleted the following item:</b></h4>
		<ul>
			{% for name in delete_names %}
				<li>{{ name }}</li>
			{% endfor %}
		</ul><br>
	{% endif %}
	<h4 class="title"><b>Select items</b></h4>
	<form method="post" action="/item/deleteaction" target="_self">
		<div><input type="hidden" name="category_name" value="{{ category_name }}"></div>
		{% for item in items %}
		<div><input type="checkbox" name="item_name" value="{{ item.name }}"> {{ item.name }}</div><br>
		{% endfor %}
		<div>
			<input type="submit" name="delete" value="Delete Item">
			<input type="submit" name="delete" value="Clear All">
		</div>
	</form><br><hr>
	<ul>
		<li>See <a href="/item/index">all categories</a></li>
		<li>Back to <a href="/">Home Page</a></li>
	</ul>
</body>
</html>
